@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/Roboto-Regular.ttf") format("truetype")
}

@font-face {
    font-family: "Shrikhand-Regular";
    src: url("../font/Shrikhand-Regular.ttf") format("truetype")
}