/** Style de la page index **/

.research-sublevel {
    background-color: $generic-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 3em 0;

    &__title {
        padding: 0 4em 0 4em;
        margin: 0;
        margin-bottom: 0;
        text-align: center;
        @include mini-mobile {
        padding: 0 2em 0 2em;
        }
    }
    &__subtitle {
        padding: 0 2em 1em 2em;
        text-align: center;
        @include mini-mobile {
            padding: 0 1em 1em 1em;
        }
    }
    &__btn {
        @include btn-basic;
        @include gradation-btn;
        @include shadow;

        &:hover {
            @include hover-btn--light;
            @include hover-btn--shadow;
        }
    }
}

.operating {
    padding: 1.5em 0 3em 0;
    @include desktop-L {
        margin-right: 1%;
    }

    &__hdr {
        margin-left: 1em;
        @include tablet {
            display: flex;
            justify-content: center; 
        };
        @include desktop {
            display: flex;
            justify-content: center; 
        };
        @include desktop-L {
            display: flex;
            justify-content: center;
        }

    }

    &__list-steps {
        list-style-type: none; 
        counter-reset: number;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 1.5em 0 0 .85em;
        padding-left: 0;
        @include tablet {
            margin-left: 1.75em;
        };
        @include desktop {
            margin-left: 2em;
        };
        @include desktop-L {
            margin-left: 3%;
        };
        
        &__item {
            counter-increment: number;
            background-color: $generic-bg;
            @include shadow;
            border-radius: 25px;
            padding: 20px 0 20px 40px;
            margin: 0 0 1.25em 0;
            position: relative;
            width: 85%;
            max-width: 19em;
            height: 20px;
            display: flex;
            align-items: center;

            &:hover {
                background-color: lighten($primary-clr, 30%);
                @include hover-btn--shadow; 
            }

            &:hover > .operating__list-steps__item__icon {
                opacity: 0;
            }

            &:hover > .operating__list-steps__item__iconhover {
                opacity: 1;
            } 
            
            &::before {
                content: counter(number);
                background-color: $primary-clr;
                border-radius: 20px;
                padding: 4px 8px;
                color: white;
                position: absolute;     
                left: -.65em;
            }

            &__icon {
                margin-right: 1.5em;
                width: 1rem;
            }

            &__iconhover {
                opacity: 0;
                width: 1em;
                position: relative;
                right: 2.5em;
            }
        }    
    }
}

.restaurants {
    background-color: $generic-bg;
    padding: 1.5em 0 3em 0;

    &__hdr {
        margin-left: 1em;
        @include tablet {
            display: flex;
            justify-content: center; 
        };
        @include desktop {
            display: flex;
            justify-content: center; 
        };
        @include desktop-L {
            display: flex;
            justify-content: center; 
        };
    }
}

.container-restaurants {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em 0 0 0;
    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 6em 0 6em;
    };
    @include desktop-L {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 6em 0 6em;
    };

    &__shop {
        width: 93%;
        background-color: white;

        &:hover {
            @include hover-btn--shadow;
        }

        @include shadow;
        border-radius: 15px;
        margin-bottom: 1.5em;
        @include tablet {
            max-width: 43em;
        };
        @include desktop {
            width: 45%;
            max-width: 40em;
            margin-bottom: 4%;
        };
        @include desktop-L {
            width: 45%;
            max-width: 40em;
            margin-bottom: 4%;
        };
        
        &__card {
            width: 100%;
            text-decoration: none;
            color: black;
            
            &__img {
                position: relative;

                &--format {
                    object-fit: cover;
                    height: 180px;
                    width: 100%;
                    border-radius: 15px 15px 0 0;  
                }
                
                &--label {
                    font-size: 0.9em;
                    font-weight: bold;
                    background-color: $tertiary-clr;
                    color: darken($tertiary-clr, 50%);
                    padding: 6px 10px 6px 10px;
                    position: absolute;
                    top: 1em;
                    right: 1em;
                }
            }

            &__legend {
                display: flex;
                flex-direction: column;
                padding-left: 1em;

                &--title {
                    margin-top: .5em;
                    margin-bottom: .5em; 
                    font-size: 1em;
                }

                &--adress {
                    margin-top: 0;
                    margin-bottom: .75em;
                }
            }
        }

        &__likecontainer {
            cursor: pointer;
            position: relative;
            top: -1.95em;
            left: -4.25em;

            &:hover > .container-restaurants__shop__likecontainer--empty {
                animation: fullheart .5s forwards reverse;
            }

            &:hover > .container-restaurants__shop__likecontainer--full {
                animation: fullheart .5s forwards;
            }
            
            &--empty {
                width: 1.7em;
                margin-right: .5em;
                position: absolute;
                right: -2em;
                top: -1.15em;
                z-index: 0;
            }

            &--full {
                width: 1.7em;
                opacity: 0;
                margin-right: .5em;
                position: absolute;
                right: -2em;
                top: -1.15em;
                z-index: 1;
            }    
        }
    }
}




